/* Variables */
$accent-red: #ff3e3e;
$header-min-height: 100px;

/* Global selectors */
*,
*::after,
*::before {
	box-sizing: border-box;
	scrollbar-track-color: #ff3e3e;
	scrollbar-color: #ff3e3e;
	scroll-behavior: smooth;
}

::selection {
	background-color: $accent-red;
	color: white;
}

/* Basic Styles */
body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
	background-color: #272727;
	line-height: 1.5;
	color: #9b9b9b;
}

a.button {
	color: white;
}

div#blog-article {
	padding: 1%;

	h1 {
		font-size: 4rem;
		color: rgb(186, 186, 186);
		text-shadow: 0 0 2px rgb(186, 186, 186);
		transition: all 400ms ease-in;
		font-weight: bold;
		border-radius: 18px;
		transform: translateX(-0.2%);

		&:hover {
			text-shadow: 2px 2px 4px rgba(186, 186, 186, 0.384);
		}
	}

	pre {
		width: 50%;
		padding: 2%;
		border-radius: 6px;
	}

	pre .str,
	code .str {
		color: #707070;
	}

	/* string  - eggyolk gold */
	pre .kwd,
	code .kwd {
		color: #e67280;
	}

	/* keyword - light slate blue */
	pre .com,
	code .com {
		color: #32cd32;
		font-style: italic;
	}

	pre .typ,
	code .typ {
		color: #efca50;
	}

	pre .lit,
	code .lit {
		color: #d06;
	}

	pre .pun,
	code .pun {
		color: #8b8870;
	}

	pre .pln,
	code .pln {
		color: #cdcdcd;
	}

	pre .tag,
	code .tag {
		color: #9c9cff;
	}

	pre .htm,
	code .htm {
		color: #dda0dd;
	}

	pre .xsl,
	code .xsl {
		color: #d0a0d0;
	}

	pre .atn,
	code .atn {
		color: #46eeee;
		font-weight: normal;
	}

	pre .atv,
	code .atv {
		color: #EEB4B4;
	}

	pre .dec,
	code .dec {
		color: #3387CC;
	}

	a {
		text-decoration: none;
	}

	pre.prettyprint,
	code.prettyprint {
		font-family: 'Droid Sans Mono', 'CPMono_v07 Bold', 'Droid Sans';
		font-weight: bold;
		font-size: 9pt;
		background-color: #0f0f0f;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-o-border-radius: 8px;
		-ms-border-radius: 8px;
		-khtml-border-radius: 8px;
		border-radius: 8px;
	}

	pre.prettyprint {
		width: 95%;
		margin: 1em auto;
		padding: 1em;
		white-space: pre-wrap;
	}

	pre.prettyprint a,
	code.prettyprint a {
		text-decoration: none;
	}

	ol.linenums {
		margin-top: 0;
		margin-bottom: 0;
		color: #8B8970;
	}

	li.L0,
	li.L1,
	li.L2,
	li.L3,
	li.L5,
	li.L6,
	li.L7,
	li.L8 {
		list-style-type: none
	}
}