---
import Base from "../layouts/base.astro";
---

<Base route="About">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae tempora
    quibusdam itaque culpa laudantium quos. Expedita, numquam. Consequuntur,
    magni totam fugit ad expedita eligendi nam maiores repudiandae debitis
    ducimus est soluta incidunt, saepe maxime ut architecto. Assumenda incidunt,
    aliquid autem eius ipsum reiciendis odit earum quia exercitationem
    aspernatur, similique animi deleniti. Iure praesentium cupiditate eaque eum
    quidem magni necessitatibus nesciunt obcaecati. Suscipit alias, laborum
    mollitia vel ratione inventore labore rem provident facere similique sequi
    possimus repellat id, distinctio accusamus ea fuga deserunt molestias,
    voluptatibus placeat! Natus officiis suscipit accusamus cupiditate molestiae
    dolores? Et nam, inventore, consequuntur eveniet nostrum ipsam illo
    quibusdam veritatis maxime voluptates assumenda fugiat? Sed maxime officia
    consequatur beatae! Expedita facere facilis fugit sunt sint obcaecati omnis
    perspiciatis qui saepe? Laboriosam cumque, placeat consequatur, totam
    tempore magnam nulla eligendi minima non recusandae repellat architecto
    excepturi libero. Sapiente debitis nulla autem magnam sint dolor laborum
    cumque excepturi, hic repudiandae. Quas perspiciatis quasi sed odit optio
    dolore animi nam distinctio harum rem mollitia incidunt nemo veniam, quis
    minima omnis pariatur officiis non. Qui earum id tempore eveniet facere
    harum, provident atque iure aliquam eligendi nobis possimus, blanditiis quo
    iusto dicta culpa tenetur accusamus vel expedita aspernatur, eaque dolorum
    consequatur? Ipsa quas expedita ducimus accusamus reiciendis sed quo
    molestias error. Perferendis distinctio praesentium numquam, hic dolor
    delectus quos incidunt impedit enim est minus eius excepturi magni animi
    placeat sit fuga voluptate accusantium doloremque porro aspernatur? Fugiat,
    deserunt odio libero nobis quia atque esse veniam earum natus. Aliquid
    aspernatur dignissimos, consectetur odit, quo dolores, officia repellendus
    ipsam harum beatae nesciunt architecto dolorum velit impedit iste? Cum,
    totam deleniti dolorem pariatur earum sed inventore voluptatum tenetur rerum
    odio quos veniam praesentium aperiam quo, itaque exercitationem placeat
    voluptate nostrum soluta tempora. Adipisci quasi assumenda earum excepturi
    accusamus explicabo sapiente! Laboriosam voluptatibus animi quibusdam,
    earum, officiis perferendis amet aliquam quia ea assumenda quae, illum
    reprehenderit quisquam aperiam quo voluptatum vero placeat totam
    praesentium? Fugiat, distinctio suscipit? Repellendus, fugit id! Blanditiis
    tenetur sequi magni exercitationem facilis quae, ratione nesciunt alias
    velit quod ipsum eveniet. Voluptates ad quis voluptate alias optio expedita
    totam architecto veritatis provident! Minus, sit! Fugiat placeat facilis
    expedita numquam ducimus, totam, tenetur ullam iure et consectetur dolores.
    Officiis necessitatibus architecto ex aspernatur. Mollitia vero iste
    explicabo et doloribus aspernatur eum ut! Nobis enim blanditiis consequatur
    excepturi mollitia similique at, explicabo quas. Id voluptatem explicabo
    aperiam ipsum, corrupti minima necessitatibus eligendi illo nemo fuga labore
    ea, asperiores aspernatur. Fugit quae placeat aperiam ratione! Ex, vel
    laborum. Tempore a delectus at blanditiis numquam aut, ducimus
    necessitatibus fugit dolore explicabo expedita accusantium optio eos non
    temporibus porro. Saepe ad aperiam a. Ex sapiente eveniet iure repellat
    recusandae. Ipsa nobis, cupiditate labore repudiandae commodi quibusdam
    blanditiis laudantium quasi consequatur ipsum iste. Reprehenderit
    consequuntur facere vitae laborum, repellendus harum veniam inventore
    voluptates laudantium enim adipisci illo assumenda sit laboriosam maiores
    blanditiis hic beatae magni rem sapiente. Consequuntur labore soluta culpa
    itaque ratione. Saepe nam molestias explicabo nisi, officia delectus enim,
    non quidem iste quisquam exercitationem quibusdam ea.
  </p>
</Base>

<style lang="scss"></style>
