---
import Base from "../layouts/base.astro";
---

<Base route="About">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam eum, eaque
    fuga maxime exercitationem quibusdam numquam autem, sequi doloremque
    delectus vel, voluptatum debitis commodi minima. Quos consequuntur
    reprehenderit, dicta vel temporibus ad sequi dolor, voluptatibus nam debitis
    aspernatur odio, molestiae nostrum dolorem non vitae neque explicabo velit
    quidem inventore vero delectus. Non accusamus, assumenda veritatis corrupti
    voluptates ipsum facere beatae. Maiores, necessitatibus iusto provident
    rerum quidem quasi quod! Nulla dignissimos fuga impedit dolorum magni,
    officiis, officia omnis magnam voluptates obcaecati assumenda porro,
    blanditiis doloremque qui. Cupiditate dolores commodi delectus, harum
    voluptates corrupti voluptas ratione in rerum nemo exercitationem optio?
  </p>
</Base>

<style lang="scss"></style>
