---
import Base from "../layouts/base.astro";
---

<Base route="Documentation">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At illo consectetur
    accusantium natus rem maiores neque facere delectus totam reprehenderit
    quidem, deserunt iste cumque officia rerum tempore dolorem suscipit fuga.
    Nemo, distinctio sunt. Vel autem est, earum odit vero non nam vitae ad. Quam
    cumque, sed et voluptatibus quaerat saepe asperiores pariatur illum culpa
    laboriosam iure obcaecati excepturi itaque minus amet. Dignissimos libero
    optio placeat earum ratione non nam, quas, nesciunt officiis fugiat eaque
    similique sed ducimus illum molestias aliquam odit cupiditate blanditiis in
    veniam quia corporis sapiente! Esse itaque assumenda est alias quam aperiam
    quod hic distinctio, quas, nostrum consequatur minima aliquid possimus
    delectus ullam impedit nobis accusantium, suscipit doloribus sunt fugiat
    corporis. Aliquid ratione fugit cumque iusto distinctio voluptatum. Maxime
    neque corrupti incidunt necessitatibus molestias. Id, minima! Obcaecati
    reprehenderit mollitia aspernatur repellat sed suscipit, unde nesciunt
    maiores a laborum, laudantium incidunt ratione impedit aliquam. Voluptate ea
    deleniti harum vero dolorem, exercitationem unde dolorum illum aperiam,
    earum, voluptatem cum velit voluptatibus praesentium at officia sed iste.
    Odit, nam doloribus quis totam dolor beatae. Culpa maxime, necessitatibus
    minima perspiciatis tenetur, alias, in magni amet hic debitis quibusdam
    iusto vel repellendus sed eveniet facilis dignissimos et officiis ipsam!
    Facilis quo aut dolore ab nesciunt maxime quis eaque illum explicabo,
    necessitatibus maiores quidem odio quia nemo cupiditate, reprehenderit ipsa
    vitae perspiciatis quam placeat excepturi dolorum vero recusandae veritatis!
    Et nam accusamus mollitia, eligendi facere culpa expedita doloribus, eveniet
    necessitatibus minima illum nemo aperiam aut cumque quo quam odio ex
    cupiditate tenetur optio aliquam, eaque dicta adipisci atque? Ab eum alias,
    est praesentium dolores odit aliquam mollitia optio cupiditate repellendus,
    deleniti vel magni, voluptate iusto eligendi! Ex ab quisquam cupiditate at
    impedit natus magnam consequuntur reprehenderit perferendis distinctio earum
    nisi facilis non ullam, quis qui quod eum repudiandae, mollitia suscipit
    quibusdam blanditiis quia. Earum nisi voluptatum architecto impedit hic
    recusandae fugit, ut perspiciatis, officiis ad sunt aliquam odit adipisci?
    Minima suscipit ratione dicta iure vero corporis, alias fugit laborum natus
    expedita itaque eos quas in ipsa amet? Unde praesentium fugit tempore error
    eius adipisci sequi numquam tenetur officiis culpa. Rerum numquam sint vero
    voluptas, deleniti tempora repudiandae quaerat ab nostrum alias explicabo
    dolorum culpa amet est repellendus voluptates esse impedit neque earum?
    Sapiente optio vitae reiciendis ab accusantium nisi iure voluptate nemo
    impedit, veniam excepturi, quae, eos eveniet earum porro omnis ut. Iste ab,
    sint eius exercitationem nobis officiis, voluptas esse laudantium
    voluptatibus nihil assumenda ratione neque id voluptatum quo doloribus? Iste
    autem iure fugiat eius itaque, dolores quidem aut rem impedit tempora, fuga
    nemo! Amet, sunt! Iure qui quia ullam officiis dolorum, iste architecto
    saepe optio eaque inventore recusandae illo quidem soluta, aliquid cumque
    molestias commodi vitae, ea exercitationem quam? Minus laborum corrupti
    error magni alias quidem vero iste rem voluptas quod modi, consectetur
    commodi fugit tenetur ea quasi quas officiis excepturi voluptates facere
    unde voluptatem tempore? Aliquam architecto vitae aperiam fuga quos
    perferendis ducimus nam vel est hic eos, a laboriosam recusandae officiis
    velit sed id. Dolore, illo veniam! Saepe, repellat!
  </p>
</Base>

<style lang="scss"></style>
