---
import Base from "../layouts/base.astro";
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');
---

<Base route="Documentation">

<ul>
  {articles.map(blogPostEntry => (
    <li>
      <a href={`/article/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
    </li>
  ))}
</ul>
</Base>

<style lang="scss"></style>
