---
import Base from "../layouts/base.astro";
import Blob from "../components/Blob.svelte"

const welcomeMessage = "Think outside the block.";
---

<Base route="Home">
  <Blob imagePath="/robo-top.jpg" id="robo-top" />
  <embed src="/svg/blob.svg" id="robo-side">
  <embed src="/svg/blob.svg" id="robo-other">
  <embed src="/svg/blob.svg" id="robo-other-other">
  <main>
    <section id="text-container">
      <div id="title-container">
        <h1>{welcomeMessage.toLocaleUpperCase()}</h1>
      </div>
      <div id="placeholder-space-title"></div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In velit,
        illo quod odio debitis nesciunt, pariatur vitae ad deserunt esse ex
        reprehenderit beatae provident similique necessitatibus nostrum,
        fugiat aliquam doloribus quas sed dolor harum corrupti ullam? Illum
        voluptatibus explicabo odit maiores rem aspernatur laborum ipsa vero
        pariatur illo totam libero ullam inventore eum omnis voluptas eaque
        unde quibusdam porro, dolore veritatis minus quidem assumenda. Vel
        error, dolore delectus minus ratione dolorum sit recusandae voluptatum
        labore omnis iure impedit quam excepturi soluta voluptas saepe
        exercitationem explicabo placeat sequi similique blanditiis eum non
        quisquam enim? Vitae cum eos ipsam eaque libero dolor minima officiis
        repellendus aperiam fuga quod modi aspernatur exercitationem
        obcaecati, facere, delectus suscipit. Quia maxime quaerat possimus
        voluptatibus deleniti praesentium ratione porro voluptates id adipisci
        aliquam expedita fugit deserunt harum iure, dolores facere
        necessitatibus debitis vel esse. Asperiores dolores perferendis
        ratione? Maiores esse deserunt ipsam expedita totam facilis saepe
        cupiditate quisquam. Officia necessitatibus libero debitis, cum fugiat
        voluptatum repudiandae ipsum, delectus eveniet, earum molestias nulla.
        Eius quo id ipsum, modi impedit voluptatum vitae repellat iste quia,
        natus iusto consequatur molestias adipisci nemo accusantium fugit.
        Autem officiis consequuntur adipisci culpa reprehenderit consequatur
        inventore veniam accusantium perspiciatis, est eius nulla dolore,
        animi at maxime et maiores praesentium ducimus doloribus rerum
        distinctio sapiente perferendis? Minus voluptatum quo vero possimus
        eaque earum asperiores quam aut facere sequi similique laudantium,
        eligendi, inventore praesentium voluptate odio quas assumenda a magnam
        sapiente! Obcaecati nam eius ex aliquam. Itaque quis cupiditate, dolor
        unde vitae ipsam perferendis fuga quos, saepe dolorem dolorum libero
        ipsa necessitatibus amet sapiente quisquam sunt iste ea voluptas
        error! Dolor exercitationem nisi modi iusto veritatis reiciendis quia
        ipsa quaerat magni accusantium, possimus voluptatum, error maiores
        distinctio excepturi totam ullam delectus debitis. Fugiat doloribus
        ratione blanditiis deserunt expedita cumque nostrum eos distinctio
        nisi. Alias recusandae qui animi nostrum perspiciatis blanditiis ipsa
        praesentium, ad veritatis dolore nesciunt consequatur beatae maiores.
        Vitae maxime autem ad velit cum, vero odio est illo officia nemo
        laudantium sequi magni necessitatibus eos et praesentium nulla
        inventore ullam deleniti fuga blanditiis illum in ab. Velit debitis
        dolor quam consequuntur optio aperiam, autem ipsam perspiciatis rerum
        asperiores doloribus, blanditiis eos ipsa nihil temporibus atque! Odio
        qui illo iste ea alias nam. Quasi exercitationem soluta
        necessitatibus, voluptate dicta vero beatae nulla quis perspiciatis ea
        quos laborum ratione suscipit deserunt nisi fuga ad praesentium velit
        provident deleniti recusandae harum? Harum tenetur facere accusantium
        inventore dignissimos, aspernatur alias, dolorum perspiciatis aliquid
        consectetur possimus, necessitatibus ipsam impedit delectus ipsa
        consequuntur tempore. Totam omnis corporis et magnam commodi harum
        mollitia reprehenderit, officiis inventore eaque minima exercitationem
        natus voluptate? Voluptate repellat quasi ipsa consequuntur tenetur
        beatae qui distinctio ad, laborum rem inventore similique fuga neque
        veritatis voluptatem itaque nemo perferendis quia ullam modi provident
        soluta quisquam? Dolore sapiente explicabo quia similique rem nobis
        velit, aliquam cumque quae dolorem assumenda ipsum id iusto magni
        obcaecati repudiandae, modi quasi quidem atque ex. Quam repudiandae
        deleniti neque minus quidem similique molestias temporibus delectus ex
        porro non ipsam, corrupti vitae aperiam ipsa inventore natus?
      </p>
    </section>
    <section id="image-container">
      <img
        src="/blockhead-ftc.png"
        alt="The Blockhead's 5921 logo."
        width="50%"
      />
    </section>
  </main>
</Base>

<style lang="scss">
  @import "../styles/global.scss";

  img[alt="kitty cat"] {
    z-index: 2;
    display: block;
  }

  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Just for testing */

    section#text-container {
      border-bottom: rgb(68, 68, 68);
      margin-top: 2%;
      margin-bottom: 2%;
      width: 50%;
      padding: 1%;
      color: #9b9b9b;

      div#title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 32.5vw;

        h1 {
          font-size: 5rem;
          color: white;
          text-shadow: 0 0 10px white;
          margin: 0;
          font-weight: 900;
          user-select: none;
          border-radius: 50px;
          background: radial-gradient(rgba(44, 44, 44, 0.253), transparent, transparent);
        }
      }

      div#placeholder-space-title {
        height: 15vw;
      }
    }

    section#image-container {
      width: 50%;
      top: 30%;
      align-self: flex-start;
      display: flex;
      justify-content: center;
      position: sticky;
      z-index: -1;

      img {
        border-radius: 50%;
        box-shadow: 0 0 40px rgb(230, 64, 64);
        position: relative;
        z-index: -5;
      }
    }
  }

  embed {
    position: absolute;
    z-index: -5;

    &#robo-top {
      width: 20%;
      transform: translate(200%, -10%);
    }

    &#robo-side {
      width: 30%;
      transform: translate(225%, -20%);
    }

    &#robo-other {
      width: 25%;
      transform: translate(5%, 55%);
    }

    &#robo-other-other {
      width: 15%;
      transform: translate(250%, 175%);
    }
  }
</style>
