---
import Base from "../layouts/base.astro";

const welcomeMessage = "Think outside the block.";

let index = 0,
  interval = 1000;

const rand = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;

const animate = (star) => {
  star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
  star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

  star.style.animation = "none";
  star.offsetHeight;
  star.style.animation = "";
};

for (const star of document.getElementsByClassName("magic-star")) {
  setTimeout(() => {
    animate(star);

    setInterval(() => animate(star), 1000);
  }, index++ * (interval / 3));
}
---

<Base route="Home">
  <embed src="/svg/blob-top.svg" id="robo-top" />
  <embed src="/svg/blob-side.svg" id="robo-side" />
  <embed src="/svg/blob-other.svg" id="robo-other" />
  <embed src="/svg/blob-other-other.svg" id="robo-other-other" />
  <main>
    <section id="text-container">
      <div id="title-container">
        <h1>{welcomeMessage.toLocaleUpperCase()}</h1>
      </div>
      <div id="placeholder-space-title"></div>
      <h2>
        <span class="magic">
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
              <path
                d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
              ></path>
            </svg>
          </span>
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
              <path
                d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
              ></path>
            </svg>
          </span>
          <span class="magic-star">
            <svg viewBox="0 0 512 512">
              <path
                d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
              ></path>
            </svg>
          </span>
          <span class="magic-text">Welcome to the 5921 website.</span>
        </span>
        where it's going.
      </h2>
      <p>
        Hi! We're the Blockheads; a FIRST TECH CHALLENGE robotics team based in
        La Canada California. We're a part of the <a
          href="https://lacanadaengineeringclub.org"
          >La Canada Engineering Club</a
        >, and we're one of the two FTC teams that are a part of the
        organization. Our team is the non-advanced team, so trust us when we say
        that we have a long way to go. We're always learning and improving; this
        website will be a sort home base for us to organize the <a
          href="/documentation">documentation</a
        > for our code, CAD, and other stuff.
        <br />
        <br />
        Aside from that, not much to say! You can find some unfinished documentation
        on this site and some more stuff about us, too. Obviously this website is
        not complete and is currently trash. The author will be adding more and more
        to it later on.
      </p>
    </section>
    <section id="image-container">
      <img
        src="/blockhead-ftc.png"
        alt="The Blockhead's 5921 logo."
        width="50%"
        height="50%"
      />
    </section>
  </main>
  <div id="placeholder"></div>
</Base>

<style lang="scss">
  @use "../styles/animations.scss";
  @import "../styles/global.scss";
  @include animations.shadow-animation;

  :root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
  }

  Footer {
    z-index: -1;
  }

  img[alt="kitty cat"] {
    z-index: 2;
    display: block;
  }

  main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
    }

    section#text-container {
      border-bottom: rgb(68, 68, 68);
      margin-top: 2%;
      margin-bottom: 2%;
      width: 50%;
      padding: 1%;
      color: #9b9b9b;

      div#title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 32.5vw;

        h1 {
          font-size: 5rem;
          color: white;
          text-shadow: 0 0 10px white;
          margin: 0;
          font-weight: 900;
          user-select: none;
          border-radius: 50px;
          background: radial-gradient(
            rgba(44, 44, 44, 0.253),
            transparent,
            transparent
          );
        }
      }

      h2 {
        font-size: 3rem;
        color: rgb(186, 186, 186);
        text-shadow: 0 0 2px rgb(186, 186, 186);
        transition: all 400ms ease-in;
        font-weight: bold;
        border-radius: 18px;
        filter: blur(0.3px);
        margin-bottom: 16%;

        &:hover {
          text-shadow: 2px 2px 4px rgba(186, 186, 186, 0.384);
          filter: blur(0px);
        }
      }

      div#placeholder-space-title {
        height: 15vw;
      }
    }

    section#image-container {
      width: 50%;
      top: 30%;
      align-self: flex-start;
      display: flex;
      justify-content: center;
      position: sticky;
      z-index: -1;

      img {
        border-radius: 50%;
        position: relative;
        z-index: -5;
        user-select: none;
        animation: 5s ease-in-out infinite shadow-animation;
        display: hidden;
      }
    }
  }

  embed {
    position: absolute;
    z-index: -5;

    &#robo-top {
      width: 20%;
      transform: translate(200%, -10%);
    }

    &#robo-side {
      width: 30%;
      transform: translate(225%, -20%);
    }

    &#robo-other {
      width: 25%;
      transform: translate(5%, 55%);
    }

    &#robo-other-other {
      width: 15%;
      transform: translate(250%, 175%);
    }
  }

  div#placeholder {
    height: 45px;
  }

  @keyframes scale {
    from,
    to {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }

  body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
  }

  h2 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
  }

  h2 > .magic {
    display: inline-block;
    position: relative;
  }

  h2 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }

  h2 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }

  h2 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }

  h2 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
</style>
