---
import Base from "../layouts/base.astro";
---

<Base route="Home">
  <section id="title-container">
    <h1>Welcome to the amazing Blockheads.</h1>
  </section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi magni
    maxime laborum, quam at vero ipsum quia perferendis corporis tempore sunt.
    Saepe accusamus explicabo itaque vel voluptatum officia voluptatem maxime
    ratione praesentium repellat ad, nulla veniam iusto impedit nobis libero
    iure quae a molestias asperiores earum alias inventore? Natus officiis nisi
    odit! Explicabo tempore nesciunt aperiam accusantium necessitatibus qui
    magni pariatur corporis, sunt saepe placeat laboriosam quibusdam! Excepturi
    alias aspernatur beatae perferendis ex! Eum, architecto itaque sapiente quis
    ipsam doloribus odio porro quibusdam excepturi nemo repellendus at vitae nam
    blanditiis asperiores ex eaque laborum possimus! Cupiditate velit temporibus
    voluptatum id natus totam dolorum architecto nihil? Provident praesentium
    quis quae ducimus dicta, vero aut ipsum doloremque aperiam eaque hic,
    assumenda ea, eveniet sunt cupiditate quod laborum excepturi. Inventore
    quaerat aut vel consectetur reprehenderit, est incidunt, eaque quae
    accusamus necessitatibus voluptate ducimus voluptatum quo aspernatur. Autem
    eveniet quis odio ducimus alias quos doloribus, voluptatem cumque velit,
    asperiores vitae illum, porro repellendus temporibus rem neque ratione animi
    repudiandae dolores dignissimos quam consequatur esse hic repellat. Facilis,
    maiores quos illum dolorem reiciendis totam omnis voluptate voluptates! Sit
    quod ducimus sapiente soluta minima doloremque pariatur sunt libero debitis
    illum! Nisi eos officia culpa! Porro, enim? Facere totam dolores eaque
    dignissimos nulla illum hic, culpa repellendus omnis harum debitis?
    Reiciendis recusandae sed dolor voluptatum temporibus similique nesciunt ea
    sequi amet dignissimos iure impedit aliquam culpa, tempore saepe inventore
    perferendis blanditiis consequuntur eos reprehenderit maxime adipisci animi!
    Voluptatum dicta asperiores, ab aperiam quidem esse provident id! Quis,
    reiciendis quo praesentium non esse obcaecati modi vero voluptate quas atque
    quasi, explicabo quibusdam vel, ducimus sequi corporis quidem cum id maxime
    facilis? Recusandae repellat odio voluptate, blanditiis fugiat ab expedita
    quis itaque quo soluta, placeat quisquam laudantium temporibus a tempora
    facere sed. Quidem suscipit perferendis odit cupiditate rem. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Aperiam, atque reprehenderit
    suscipit nihil voluptatum laboriosam aut fugit vero, cumque nemo ipsa harum
    quam sapiente nesciunt necessitatibus ab asperiores reiciendis eveniet
    blanditiis odio. Perferendis ipsum totam velit itaque nihil nostrum
    blanditiis omnis corporis possimus at cum doloribus dignissimos, fugit atque
    iure minima debitis cupiditate suscipit dolore asperiores iste sit pariatur!
    Libero esse quidem saepe, dolore cum, tenetur sunt corporis error suscipit
    sequi, atque dolores cumque pariatur autem excepturi laudantium aut omnis
    commodi facere animi assumenda eaque vero. Suscipit dolores minus ut quas,
    perspiciatis voluptas. Libero fugiat fugit, ratione esse quae voluptatibus.
  </p>
</Base>

<style lang="scss">
  @import "../styles/global.scss";

  section#title-container {
    border-bottom: rgb(68, 68, 68);
    margin-top: 2%;
    margin-bottom: 2%;

    h1 {
      font-size: 5rem;
      color: white;
      width: 50%;
      text-shadow: 0 0 10px white;
      padding: 3.75%;
      margin: 0;
    }
  }
</style>
