---
import Base from "../layouts/base.astro";
---

<Base route="Store">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolores
    natus minima neque! Error necessitatibus atque ab ex architecto, quas,
    voluptatibus aperiam blanditiis eligendi iste nesciunt quisquam, suscipit
    excepturi saepe expedita. Vero delectus deleniti voluptatem exercitationem
    sint officia hic? Doloribus, expedita! Error fuga, temporibus repudiandae
    officia veniam accusamus recusandae ullam non saepe, eaque vel, porro ut
    facere quidem molestiae earum! Maiores esse quam iste numquam. Deleniti quod
    odio ipsum iusto sunt beatae nam sint non nihil, dolor eos, cupiditate rerum
    repellat. Veniam provident iusto doloribus, similique dicta alias dolores
    error sunt mollitia eum impedit nobis harum vitae. Quaerat enim quos
    doloremque, hic quo minima dignissimos ipsum nostrum eveniet illum fugiat
    dolorem blanditiis esse quidem eos consequatur rem vitae exercitationem
    asperiores perferendis numquam. Quos dolore impedit assumenda eius adipisci
    dolores possimus porro officia perspiciatis, debitis facere libero, iste
    nemo minima voluptate molestias ad quam molestiae. Repellat, cupiditate
    amet. Blanditiis optio aperiam hic doloribus dolorem veniam veritatis quam
    tempora repellat sequi eaque perspiciatis soluta doloremque, illum vel quasi
    repellendus laudantium exercitationem delectus non, laborum corporis harum
    officia eius. Repellendus est qui eaque facilis fugit ea? Soluta, rem amet
    laudantium temporibus facere earum vel hic quia optio magnam tenetur aperiam
    suscipit nulla placeat! Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ratione minus, in recusandae obcaecati voluptates velit corrupti quod
    iste? Placeat, nemo non ipsa dolor aut rerum distinctio, fugiat ducimus
    adipisci tenetur maxime modi consequuntur voluptas illo, ratione quo ea
    assumenda cum molestiae amet eius quisquam quis neque corporis! Cupiditate
    ea, officia soluta quos tempora illo quidem aliquam culpa veniam voluptates
    odit. Ratione deleniti error sit qui. Vero, atque? Molestiae sunt id,
    dolores numquam beatae enim laboriosam fugiat temporibus non tempora eaque,
    obcaecati tenetur dolore porro reiciendis neque eius doloribus. Natus
    consectetur odio nulla porro delectus omnis itaque optio atque enim!
    Accusamus fuga, magnam asperiores, molestiae suscipit animi nesciunt
    temporibus aliquid odio laudantium dignissimos ipsa, totam a. Aperiam eaque
    facilis fuga aliquam asperiores eligendi, amet sit tempore est a magni
    aspernatur sequi reprehenderit id omnis iusto quasi, natus suscipit et autem
    tenetur ratione error odio incidunt. Vero odio repudiandae quis fuga quidem
    perspiciatis unde vitae placeat deleniti eos, asperiores tempore suscipit id
    sed enim ipsa quod, consectetur quas! Odio fugit eos facilis culpa corrupti
    suscipit porro amet optio error? Nemo voluptate atque ipsa, minima non
    corporis soluta optio debitis maxime dolor esse numquam. Quidem corporis
    sequi similique quae assumenda error, explicabo et aliquam quisquam est
    tempore dignissimos maiores sint dolore nemo. Similique qui velit magnam
    obcaecati veniam architecto voluptas odit deserunt in, ea quibusdam nobis
    tempore sed, sequi beatae ratione? Placeat unde quaerat ex harum laborum
    aliquam assumenda quidem, sit autem! Perferendis accusamus obcaecati amet
    unde alias repellat quia illo recusandae. Optio perferendis qui
    necessitatibus, doloremque consequatur ipsam itaque temporibus quasi,
    voluptatem error veniam est accusantium tenetur numquam distinctio repellat
    illum praesentium nulla at id suscipit dolorem minima harum ducimus.
    Excepturi distinctio maxime pariatur sunt maiores ea in quos ducimus nam
    architecto? Quae, consequuntur eos magnam sequi facere dolore rerum illum
    necessitatibus.X
  </p>
</Base>
