---
const today = new Date();
---

<footer>
  <section id="footer-svg"></section>
  <section id="data">
    <h2>
      &copy; {today.getFullYear()}
      <a id="tine-gh" href="https://github.com/apricitine">Apricitine.</a> All rights
      reserved<a id="scrollup" href="#the-main">.</a>
    </h2>
  </section>
</footer>
<style lang="scss">
  footer {
    padding: 2%;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white;
    padding: 0;
    z-index: -10;
    section#footer-svg {
      display: block;
      background-image: url("/svg/footer-layers.svg");
      aspect-ratio: 720/240;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    section#data {
      width: 100%;
      height: 10vh;
      background: #871400;

      h2 {
        margin: 0;

        a#tine-gh {
          color: white;
          text-decoration: none;
          font-style: italic;
        }

        a#scrollup {
          color: white;
          text-decoration: none;

          &:hover::before {
            content: ". Click this";
          }
        }
      }
    }
  }
</style>
