---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class="button" id={typeof href === URL ? href?.toString() : href} href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style lang="scss">
	@import '../styles/global.scss';

	a.button {
    padding: 1.7%;
    background: $accent-red;
    border-radius: 6px;
		text-decoration: none;
		transition: all 0.25s ease;

		&:hover {
			transform: scale(1.0625);
		}
	}
</style>
