---
import HeaderLink from "./HeaderLink.astro";
import '../styles/global.scss';
---

<header>
  <nav>
    <section id="home-link">
      <a href="/">
        <img
          src="/blockhead-ftc.png"
          width="15%"
          alt="blockheads icon for ftc"
        />
        <h2>BLOCKHEADS 5921</h2>
      </a>
    </section>
    <HeaderLink href="/about">About</HeaderLink>
    |
    <HeaderLink href="/docs">Documentation</HeaderLink>
    |
    <HeaderLink href="/store">Store</HeaderLink>
  </nav>
</header>
<style lang="scss">
  header {
    box-shadow: 0 1px 5px rgb(25, 25, 25);
    background: rgba(25, 25, 25, 0.947);
    backdrop-filter: blur(5px);
    min-width: 100%;
    position: fixed;
    min-height: 54px;
  }

  nav {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    min-height: 54px;
  }

  section#home-link {
    user-select: none;
    width: 40%;
    border: 2px solid transparent;
    transition: all 0.125s ease-in-out;
    border-radius: 6px;

    &:hover {
      border: 2px solid rgba(128, 128, 128, 0.251);
      background: radial-gradient(rgba(255, 255, 255, 0.08), transparent);
    }

    a {
      color: rgb(255, 62, 62);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }

    h2 {
      margin-left: max(0, 5%);
    }
  }
</style>
