---
import HeaderLink from "./HeaderLink.astro";
import "../styles/global.scss";
---

<header>
  <nav>
    <section id="left-nav">
      <section id="home-link">
        <a href="/">
          <img
            src="/blockhead-ftc.png"
            width="15%"
            alt="blockheads icon for ftc"
          />
          <h2>BLOCKHEADS 5921</h2>
        </a>
      </section>

      <HeaderLink href="/about">About</HeaderLink>
      <span>|</span>
      <HeaderLink href="/docs">Documentation</HeaderLink>
      <span>|</span>
      <HeaderLink href="/store">Store</HeaderLink>
    </section>
    <section id="right-nav">
      <a href="https://github.com/Blockheads-5921">
        <embed src="/svg/github.svg" type="image/svg+xml" />
      </a>
    </section>
  </nav>
</header>

<style lang="scss">
  @import "../styles/global.scss";
  header {
    box-shadow: 0 1px 5px rgb(25, 25, 25);
    background: rgba(25, 25, 25, 0.947);
    backdrop-filter: blur(4px);
    min-width: 100%;
    position: sticky;
    min-height: $header-min-height;
    z-index: 10;
    top: 0;
  }

  nav {
    display: flex;
    padding: 1%;
    width: 100%;
    height: $header-min-height;

    section#left-nav {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;


      span {
        user-select: none;
      }
    }

    section#right-nav {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: right;

      a {
        width: 40px;
        height: 40px;
      }
    }
  }

  section#home-link {
    user-select: none;
    width: 45%;
    border: 2px solid transparent;
    transition: all 0.125s ease-in-out;
    border-radius: 6px;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    display: flex;
    justify-content: space-between;

    &:hover {
      border: 2px solid rgba(128, 128, 128, 0.251);
      background: radial-gradient(rgba(255, 255, 255, 0.08), transparent);
    }

    a {
      color: rgb(255, 62, 62);
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
    }

    h2 {
      margin-left: max(0, 2.5%);
      font-size: 1.6rem;
    }
  }
</style>
