---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config.ts";
import "../styles/global.scss";

const { route } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${route} | ${SITE_TITLE}`} />
  </head>
  <body id="the-main">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style lang="scss">
      @import "../styles/global.scss";

      html {
        // vignette: 100px;
      }

      main {
        padding: 1%;
      }
    </style>
  </body>
</html>
